.card {
  -webkit-text-size-adjust: 100%;
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --imageBorderRadius: 8px;
  --maxPrimaryPageWidth: 1400px;
  --imageColumnPadding: 30px;
  --numberOfBackdropColumns: 3;
  --numberOfPosterColumns: 4;
  --discoverColumnPadding: 30px;
  --numberOfDiscoverColumns: 5;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  align-content: flex-start;
  border-radius: var(--imageBorderRadius);
  max-width: calc(
    (
        var(--maxPrimaryPageWidth) - 80px - 260px -
          (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))
      ) / var(--numberOfDiscoverColumns)
  );
  background: transparent;
  border: none;
  box-shadow: none;
  margin-top: 0;
  overflow: visible;
  width: 20%;
  min-width: 20%;
}

.image_h {
  -webkit-text-size-adjust: 100%;
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --imageBorderRadius: 8px;
  --maxPrimaryPageWidth: 1400px;
  --imageColumnPadding: 30px;
  --numberOfBackdropColumns: 3;
  --numberOfPosterColumns: 4;
  --discoverColumnPadding: 30px;
  --numberOfDiscoverColumns: 5;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  max-height: calc(
    (
        var(--maxPrimaryPageWidth) - 80px - 260px -
          (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))
      ) / var(--numberOfDiscoverColumns) * 1.5
  );
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--imageBorderRadius);
  width: 80%;
  height: calc(350px * 1.5);

  overflow: hidden;
}

.poster {
  -webkit-text-size-adjust: 100%;
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --imageBorderRadius: 8px;
  --maxPrimaryPageWidth: 1400px;
  --imageColumnPadding: 30px;
  --numberOfBackdropColumns: 3;
  --numberOfPosterColumns: 4;
  --discoverColumnPadding: 30px;
  --numberOfDiscoverColumns: 5;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  font-weight: normal;
  color: #000;
  border: 0;
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.content {
  -webkit-text-size-adjust: 100%;
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --imageBorderRadius: 8px;
  --maxPrimaryPageWidth: 1400px;
  --imageColumnPadding: 30px;
  --numberOfBackdropColumns: 3;
  --numberOfPosterColumns: 4;
  --discoverColumnPadding: 30px;
  --numberOfDiscoverColumns: 5;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 10px 12px 10px;
  position: relative;
  white-space: normal;
  padding-bottom: 0;
}
